body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: rgba(36, 39, 60, 0.7);
}

.flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.covid_main-box {
  position: relative;
  height: 80vh;
  width: 100vw;
}

.country_cases-box {
  position: relative;
  height: 80vh;
  width: 20vw;
}

.covid_map {
  position: relative;
  height: 80vh;
  width: 50vw;
}

.table_graph-box {
  position: relative;
  /*   height: 80vh;
  width: 30vw; */
}

.covid_header {
  position: relative;
  height: 10vh;
  width: 100vw;
}

.covid_table {
  position: relative;
  width: inherit;
  height: 45vh;
}

.covid_table-active {
  width: 95vw!important;
  height: 80vh;
  background-color: green;
}

.country_button-active {
  width: 80vw!important;
}

.covid_graph {
  position: relative;
  width: 30vw;
  height: 35vh;
  background-color: tan;
}

.chart_container {
  max-width: 465px;
}

.chart_container-new_limit {
  max-width: 900px;
  max-height: 330px;
}

.covid_global-cases {
  position: relative;
  height: 20vh;
  width: 20vw;
  background-color: cadetblue;
}

.covid_country_list {
  position: relative;
  height: 50vh;
  width: 20vw;
  background-color: violet;
  overflow-x: hidden;
  overflow-y: scroll;
}

.covid_country_list_table {
  width: inherit;
}

footer {
  position: relative;
  height: 10vh;
  width: 100vw;
  background-color: rgba(36, 39, 60, 0.7);
  justify-content: space-evenly;
  align-items: center;
}

.link {
  text-decoration: none;
}

.logoLink {
  position: relative;
}

.logoImage {
  height: 5vh;
  width: 13vw;
}

.text {
  color: wheat;
  font-size: 22px;
}

.text-panel {
  font-size: 16px;
}

.basic_button {}

.control_button {
  max-width: 6vw;
}

.control_button-map {
  max-width: 10vw;
}

.country_button {
  width: 20vw;
  height: 60px;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border: 2px solid black;
}

.covid_table-control_panel {
  width: inherit/* 29vw */;
  height: 10vh;
  justify-content: space-between;
}

.covid_table-control_panel-map {
  width: inherit;
  height: 5vh;
}

.covid_table-control_panel-buttons {
  width: inherit;
  height: 5vh;
}

.covid_table-control_panel-data {
  width: 16vw;
  background-color: purple;
  height: 5vh;
}

.lArrow {}

.lArrow::after, .rArrow::after {
  position: relative;
  top: -2px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lArrow::after {
  content: url(../assets/images/left_arrow.svg);
}

.rArrow {}

.rArrow::after {
  content: url(../assets/images/right_arrow.svg);
}

.display-none {
  display: none;
}

.countries_button_container {
  height: 48vh;
  align-items: flex-start;
  margin-top: 0;
}

.input_search-field {
  width: inherit;
  height: 2vh;
  position: sticky;
  top: 0;
}

.flag_img {
  width: 50px!important;
  height: 30px;
}

.popup_div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  z-index: 6;
  background-color: rgb(83, 22, 3);
  font-size: 30px;
  justify-content: center;
  align-items: center;
  color: wheat;
}

.covid_map-container {}

#mapid {
  height: 75vh;
  width: inherit;
}

/* legend */

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.just_cont-center {
  justify-content: center;
}

.align_items-center {
  align-items: center;
}